.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.btn-primary {
  background-color: aqua;
  color: red;
}

.col-lg-4{
  text-align: center;
  padding: 10px;
  padding-top: 50px;
}

.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 150px; /* change it to desired width */
    background-color: white;
    border: solid #d3c37b 3px;

    font-family: garamond; /* change to desired color */
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 130px;
    height: 130px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 100px;
        /* if you want it vertically middle of the navbar. */
}
.navigation-bar > a {
    display: inline-block;
    color: black;
    vertical-align: top;
    margin-right: 45px;
    padding : center;
    height: 150px;        /* if you want it to take the full height of the bar */
    line-height: 150px;
    font-size: 25px;
        /* if you want it vertically middle of the navbar */
}

.devis{
  background-color:#d3c37b;
  border: solid white 1px;
  color: white;
  font-family: garamond;
  font-size: 25px;
  border-radius: 5px;
  height: 50px;
  width: 250px;
  color: white;
}

.contpropos{
  padding-top: 50px;
  padding-bottom: 30px;
}

.apropos{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  padding-left: 200px;
  padding-top: 150px;
  padding-right: 100px;
}

.devis:hover
{
    background: #333;
    border-color: #d3c37b;
    color: white;
}

h2, p{
  text-align: center;
  padding-top: 20px;
  font-family: garamond;

}

h1{
  font-size: 60px;
  font-family: garamond;
  font-weight: bold;
  text-transform: uppercase;
}

.logo{
  background-size: 50%;
background-size: 3.2em;
background-size: 12px;
background-size: auto;
}

p{
  font-size: 22px;
}

.cadp{
 
  padding-bottom: 100px;
  
  
}

h2{
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
}

h3{
  font-size: 32px;
  font-family: garamond;
  font-weight: bold;
}

hr{
  color: #d3c37b;
  size: 2px;
}

.btn-secondary{
  background-color: #d3c37b;
}

body
{
    font-family: 'Lato', sans-serif;
}

.heading
{
    text-align: center;
    margin-bottom: 60px;
}

#contact-form
{
    font-size: 20px;
    
    padding: 40px;
    border-radius: 10px;
    width: 600px;
    border: solid 3px #d3c37b;

    
}
/*---  NEW  ------*/
.black
{
    color: black;
}
.form-control
{
    height: 50px;
    font-size: 18px;
}
#contact-form input[type=submit]
{
    margin: 40px auto 0px;
    display: block;

}
.comments
{
    font-style: italic;
    font-size: 18px;
    color: #d82c2e;
    height: 25px
}
#contact-form .thank-you
{
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
    border-top: solid 1px;

}
.button1
{
    border: 1px solid black;
    background: #d3c37b;
    color: white;
    width: 50%;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease-in 0s;
}
.button1:hover
{
    background: #333;
    border-color: #d3c37b;
}

.container{
  text-align: center;

}


.footer{
  border-top: solid 1px;
  background-color: #d3c37b;
  justify-content: center;
  padding: 40px;
  padding-top: 50px;

}